.placeholder {
    background-color: grey;
    font-size: xx-large;
    text-align: center;
}
.about {
    background-color:gray;
    font-size: xx-large;
    text-align: center;
 }
body {background-color: rgb(11, 103, 189);

}
